.container {
  background: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.container__form {
  background-color: #eeeeee;
  width: 300px;
  height: auto;
  margin: 0 auto;
  padding: 15px;
  border: 1px solid #eeeeee;
  border-radius: 15px;
}

.container__form h3 {
  text-align: center;
  margin: 0;
}

.container__form form {
  display: flex;
  flex-direction: column;
}

.container__form label {
  margin-bottom: 5px;
}

.container__form input {
  outline: none;
  border: none;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 5px;
}

.container__buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.container__buttons button {
  background-color: #2f73f7;
  color: white;
  width: 110px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}
.container__buttons button:nth-child(2) {
  margin-left: 10px;
}
